@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
body {
  font-family: "Jersey 20", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: rgb(69, 56, 75);
}

html {
  background-color: #7756db;
}

body {
  font: 14px;
  font-family: "Jersey 20", sans-serif;
  background: rgb(26, 5, 49);
  color: rgb(58, 40, 17);
  box-sizing: border-box;
  margin:0;
  padding:100px 0px 0px 0px;
  min-width: auto;
}

body > header {
  height: 100px;
  width: 100%;
  background: green;
  color: white;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  z-index: 1;
  top: 0;
}

#logo {
  height: 40px;
  margin: auto 0 auto 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("pictures/certificate.png") no repeat;
  background-size: 100% 100%;
  background-position: center;

  
  
}